<h1>Excel - Colors by name</h1>
<form asp-controller="Excel" asp-action="ColorsByName" method="post">
    What color do you want to see in PDF: <input name="colorName" type="text" /><br />
    <input type="submit" value="Generate Excel" />
</form>