<h1>Excel - Hello World</h1>
<form asp-controller="Excel" asp-action="HelloWorld" method="post">
    Show me your name: <input name="userName" type="text" /><br />
    <input type="submit" value="Generate Excel" />
</form>