
<p>Choose PDF, which you want to generate</p>
<ul>
    <li><a asp-controller="Excel" asp-action="HelloWorld">Hello World</a></li>
    <li><a asp-controller="Excel" asp-action="TOPNColors">TOP n colors</a></li>
    <li><a asp-controller="Excel" asp-action="ColorsByName">Colors by name</a></li>
</ul>