<h1>Excel - TOP Colors</h1>
<form asp-controller="Excel" asp-action="TOPNColors" method="post">
    How many colors do you want to show: <input name="nrColors" type="text" /><br />
    <input type="submit" value="Generate Excel" />
</form>