<h1>PDF - Colors by name</h1>
<form asp-controller="PDF" asp-action="ColorsByName" method="post">
    What color do you want to see in PDF: <input name="colorName" type="text" /><br />
    <input type="submit" value="Generate PDF" />
</form>