<h1>PDF - Hello World</h1>
<form asp-controller="PDF" asp-action="HelloWorld" method="post">
    Show me your name: <input name="userName" type="text" /><br />
    <input type="submit" value="Generate PDF" />
</form>